name: CI

on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  workflow:
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp:
          - "26.2.5.9"
          - "27.3"
        elixir:
          - "1.18.3"

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}

      - name: Set up cache
        uses: actions/cache@v4
        id: mix-cache
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{ matrix.otp }}-${{ matrix.elixir }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ matrix.otp }}-${{ matrix.elixir }}-

      - name: Fetch dependencies
        run: mix deps.get

      - name: Check retired dependencies
        run: mix hex.audit

      - name: Check unused dependencies
        run: mix deps.unlock --check-unused

      - name: Check code formatting
        run: mix format --check-formatted

      - name: Compile code
        run: mix compile --all-warnings --warnings-as-errors

      - name: Run Dialyzer
        run: mix dialyzer --format github

      - name: Run tests
        run: mix test
